/* ====================== Restaurant Details ====================== */

/* TODO ============================================================
   make responsive queries to alter the position of the map
   work on responsive images
*/

.inside {
  width:100%;
}

.inside header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  
 }

.inside header nav.breadcrumbs {
  flex-grow: 1;
  background-color: #eee;
  height: auto;
  align-items: flex-start;
  text-align: start;
} 

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 400px;
  flex-grow: 1;
  
  /*
  width: 100%;
  position: fixed;
  right: 0;
  top: 80px;
  width: 50%;
  */
  order: 3;
}

.inside #map {
  background-color: #ccc;
  height: 400px;
  width: 100%;
}

.inside #footer {
  bottom: 0;
  display: flex;
  flex-grow: 1; 
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

#restaurant-container, #reviews-container {
  border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;
  padding: 140px 2.2rem 2rem;
  flex-grow: 1;     
  display: flex;
  flex-direction: column;
  order: 1;
}

#restaurant-name {
  color: #252831;
  font-family: Arial,sans-serif;
  font-size: 1.4rem;
  font-weight: 200;
  letter-spacing: 0;
  margin: 1rem 0 2rem;
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  width: 100%;
}

#restaurant-img img {
  width: 100%;
}

#restaurant-address {
  font-size: 1rem;
  margin: 10px 0px;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 10px;
  margin: 0 0 20px;
  padding: 1rem 0;
  text-align: center;
  text-transform: uppercase;
  flex-grow: 1;
}


#reviews-container {
  padding: 30px 40px 80px;
  order: 2;
}

#reviews-container h3 {
color: #252831;
font-size: 1.6rem;
font-weight: 300;
letter-spacing: -1px;
padding-bottom: 1pt;
}

#reviews-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#reviews-list li {
  background-color: #fff;
  border: 2px solid #f3f3f3;
  /* display: block;*/
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  flex-grow: 1;
  padding: 10px 20px 20px;
  position: relative;

  
}
#reviews-list li p {
  margin: 0 0 10px;
}

#restaurant-hours td {
  font-size: .8rem;
  color: #666;
}


#reviews-container div.header {
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-flex-direction: row;
-ms-flex-direction: row;
flex-direction: row;
-webkit-flex-wrap: nowrap;
-ms-flex-wrap: nowrap;
flex-wrap: nowrap;
-webkit-justify-content: flex-start;
-ms-flex-pack: start;
justify-content: flex-start;
-webkit-align-content: stretch;
-ms-flex-line-pack: stretch;
align-content: stretch;
-webkit-align-items: stretch;
-ms-flex-align: stretch;
align-items: stretch;
}

#reviews-container div.title {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}
#reviews-container div a {
  flex: 0 1 auto;
  background-color: #252831;
  /* border-bottom: 3px solid #eee; */
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  /* margin: 15px 0 0; */
  padding: 8px 30px 10px;
  width: auto !important;
  height: auto !important;
  min-height: auto;
  text-decoration: none;
  text-transform: uppercase;
}


/* Full-width input fields */
input[type=date]{  
  width: 100%;
  padding: .5rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
}
input[type=text],textarea {
  width: 100%;
  padding: .5rem;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  resize: vertical;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: auto;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
  margin-right: .5rem;
  margin-left: auto;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  display:flex;
  flex-direction: column;

  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  min-width: 300px;
  max-width: 450px;
}

.modal div.container {
  display:flex;
  flex-direction: column;
  padding: 16px;
}

.modal div.actionbar {
  display:flex;
  flex-direction: row;
  padding: 16px;
}


/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
